.gallery  img
{
    width: 100px;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
    height: 100px;
}
 
figure 
{
    float: left;
    width: 120px;
}
.gallery 
{
    width: 100%;
}
figure
{
    margin: 15px;
}
a img
{
    padding: 3px;
}
.caption
{
    display: block;
    font-style: italic;
    font-size: 0.8em;
}
.gallery img:hover
{
    opacity: 1;
    border: 1px solid black;
}