header, article, nav, footer, section 
{
    border: 1px dashed red;    
}
.container
{
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
h2
{
    text-align: center;
}
body
{
    background-image: url('../img/styles.png');
}
header
{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: white;

}
nav
{
    width: 10%;
    min-width: 200px;
    height: 1100px;
    float: left;
    margin: 0 30px 0 30px;
    background-color: rgba(255, 255, 255, 0.5);
}
section
{
    width: 89%;
    height: 1100px;
    max-width: 800px;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}
article
{
    width: 96%;
    max-width: 700px;
    height: 950px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;

    
}

footer
{
    width: 100%;
    height: 100px;
    float: left;
    margin:10px 0 20px 0;
    background-color: white;
}
#banner-content
{
    text-align: center;

}
#banner-content a
{
    text-decoration: none;
    color: orange;
    
    
}
#banner-content a:hover
{
    color: red;
    text-decoration: underline;
}
#logo
{
    float: left;
    width: 210px;
    height: 170px;
    margin: 5px 0 5px 10px;
}
#menu li
{
    list-style-type: none;  
}
#menu ul li a 
{
    text-decoration: none;
    list-style-type: none;
    color: black;
    border: 1px solid black;
    padding: 3px;
    display: block;
    text-align: center;
    background-color: #ccc;
}
#menu ul li a:hover
{
    background-color: orange;
    color: white;
}
#menu ul ul a 
{
    position: relative;
    bottom: 20px;
    left: 100%;
    display: none;
}
#menu ul li:hover > ul a 
{
    display: block;
}
article img
{
    float: left;
    margin-right: 20px;
}